div
  | const app = getApp()
  |
  | Page({
  |   data: {},
  |
  |   onLoad() {},
  |
  |   onSHow() {},
  |
  |
  - for (var x = 0; x < pageInit.length; x++)
    if pageInit[x] == 'onShareAppMessage'
      |   // 分享，禁止分享需删除该方法
      |   onShareAppMessage() {
      |     return {
      |       title: '#{shareTitle}',
      |       path: '#{sharePath}',
      |       imageUrl: '',
      |     }
      |   },
      |
      |
    else 
      |   #{pageInit[x]}() {},
      |
      |
  | })
  |